<!DOCTYPE html>
<html data-ng-app="MyApp">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--Bootstrap css-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--Custom css-->
    <link href="css/main.css" rel="stylesheet">
    <title>Angular JS Exercises</title>
</head>
<body id="black-color">
    <section class="container-fluid">
        <div id="green">
            <h1 class="text-center">Imported Objects From Controller</h1>
        </div>
        <div class="row">
            <div class="col-md-8" data-ng-controller="personDetails" id="blue">
                <table border="2" width="80%">
                <div id="green">
                    
                </div>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Img Url</th>
                    </tr>
                    <tr data-ng-repeat="finerDetails in details | filter: finerDetails">
                        <td>{{finerDetails.name}}</td>
                        <td>{{finerDetails.age}}</td>
                        <td>{{finerDetails.img_url}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4" id="yellow"><input type="text" placeholder="Type to filter results" ng-model="finerDetails"/></div>
        </div>
    </section>
   
    <section>
        <div class="row">
            <div class="col-md-4" id="purple"></div>
            <div class="col-md-4" id="purple"></div>
            <div class="col-md-4" id="purple"></div>
            
        </div>
    </section>
    <section id="white">
        
    </section>

    <!--Angular library-->
    <script src="js/angular.min.js">
    </script> 
     
     <!--Angular custom controller-->
    <script src="js/controller.js">
    </script> 

    <!--Bootstrap Javascript script--> 
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>